body{
   /* Set line spacing */
   line-height: 1.5;
}


header, nav{
    /* Set padding and margin */
    padding: 20px 40px 30px 25px;
    margin:  0 auto;
}
nav ul li{
    /* Set display, margin, padding, font-size, background-color */
    display: inline-block;
    margin: auto 110px;
    padding: 10px 20px;
    background-color:antiquewhite;
    font-size: 19px;
}

nav a{
    /* Set text decoration*/
    text-decoration: none;
}

a:visited{
    /* Set color */
    color:black;
}

nav a.current {
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-underline-offset: 6px;
    text-transform: uppercase;
    
  }
  
  
  nav a.current::before {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    right: 0;
    background-color: black;
    /*text-decoration: wavy underline;*/
    text-decoration: none;
  }
  
  

h1{
   /*Set font and font size*/
   font-size: 32px;
   font-family: 'Merriweather', Anton, 'Times New Roman', sans-serif;
}

h2{
    /*Set font, font size, and alignment*/
    font-size: 40px;
    text-align: center;
    font-family: Anton, 'Times New Roman', sans-serif;
}

h3{
    /*Set font size*/
    font-size: 28px;
}

h1, h2, h3{
    /*Set margin */
    margin: 10px;
}
.grid{
    /*Set width, margin, border properties, background color, and grid properties */
    width: 90%;
    margin: 0 auto;
    border:20px;
    background-color: #778898;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    row-gap: 10px;
    column-gap: 57px;
}

.grid div{
    /* Set border properties, padding, and background color */
    border: 2px solid #000;
    padding: 20px;
    border-radius: 20px;
    background-color: #f5f5f5;
    
}

.grid img{
    /* Set width, margin, and display */
    width: 90%;
    margin: auto;
    display: block;
}

/*
Column on the far left should have a box shadow to its right. */
.grid div:nth-child(3n+1)  {
    /* Set box shadow */
    box-shadow: 8px 0px 4px #808080;
    }

/* Column on the far right should have a box shadow to its left */
.grid div:nth-child(3n)  {
    /* Set box shadow */ 
    box-shadow: -8px 0px 4px #808080;
}

/* Column in the center should have a box shadow on both sides */
.grid div:nth-child(3n+2)  {
     /* Set box shadow */
     box-shadow: 8px 0px 4px #808080, -8px 0px 4px #808080;
}
    

p + p {
     /* Set indentation */
     text-indent: 10px;
     margin-left: 20px;
  }
  
p{
     /* Set margin */
     margin-top: 5px;
     margin-left: 20px;
     
}


.grid ul li{
    /* Set margin, line-spacing, list styling  */
    line-height: 1.5;
    list-style-image: url(../images/sketchbook.png);
    margin-left:90px;
    margin-bottom: 2px;
    padding-left: 0;
}
